.blog-index-page, .category-archive-page
	padding-top 100px

	section
		margin-top: 100px
		font-weight: 400
		box-sizing: border-box

		&.intro
			text-align: center
			position: relative
			margin-top 0

			.header
				color: $black
				font-size 2.8em

			.description
				margin-top: 10px
				font-size: 1.8em
				line-height: 1.2
				color: $calmer-black

		.header
			font-size: 2em
			text-align: center
			font-weight: 400
			margin: 0

		.description
			margin: 15px 0 0px 0
			line-height: 1.2
			font-size: 1.4em
			color: $calmer-black
			
@media all and (min-width: 1100px)
	.blog-index-page, .category-archive-page
		.sidebar-wrap, section
			width: 600px;