doctype
html
  head
    title Cody Sehl — #{page.tag || page.category || page.title || "Blog"}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/app.css')
    include typekit.html
  body
    nav
      ul
        li
          a(href='http://codysehl.net/') About
        li
          a(href='http://codysehl.net/work') Work
        li
          a(href='http://blog.codysehl.net') Blog